  <h1 mat-dialog-title>Commit</h1>
  <div mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome do autor do Commit</mat-label>
        <input matInput disabled value={{data.name}}>
      </mat-form-field>
      <p>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput disabled value={{data.email}}>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Descricão</mat-label>
          <textarea matInput disabled value={{data.message}}></textarea>
        </mat-form-field>
      </p>
      <div class="row">
        <p>
          <span fxFlex="50" fxLayoutAlign="start center">Criado em</span>
        </p>
        <p>
          <span fxFlex="50" fxLayoutAlign="start center">{{data.date | localDateTime}}</span>
        </p>
      </div>
    </form>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-raised-button color="warn" (click)="voltar()">Voltar</button>
  </div>

